<div class="px-4 py-16">
  <div class="pb-20 text-center text-2xl">Who am I?</div>
  <div class="flex grid-cols-[360px_auto] sm:grid">
    <div class="p-4">
      <img
        src="https://satnaing.dev/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fsatnaing.eb326e88.webp&w=3840&q=75"
        alt="my avatar"
      />
    </div>
    <div class="text-md">
      <p class="text-sm">
        With 4+ years of comprehensive experience in web application
        development, I have polished my skills in both frontend and backend
        development. In addition to my hands-on experience in web development,
        my education has also played a critical role in providing a strong
        foundation for my career.
      </p>
    </div>
  </div>
</div>
